@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
  background-color: #f1f1f1;
  height: 100vh;
}

.container h1 {
  color: #545788;
  font-size: 70px;
}

.timer {
  display: flex;
  font-size: 55px;
  font-weight: bold;
  color: #0000;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #0000;
  min-width: 90px;
}

.separator {
  font-size: 60px;
  padding: 0 10px;
  color: #525763;
}

#miliseconds {
  font-size: 30px;
  color: #525763;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all .2s ease-in-out;
  width: 100px;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #ccc;
}

#startBtn {
  background-color: #175cff;
  color: #f2f2f2;
}

#pauseBtn, #resumeBtn {
  display: none;
}